In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

df = pd.read_csv('Arrest Data.csv')

In [24]:
df.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,Date
0,5805106,11/21/2019,21,3,Southwest,328,25,M,Black,5.0,Burglary,F,459PC,BURGLARY,32ND,HOOVER,"(34.0255, -118.2839)",2019-11-21 21:00:00
1,190127182,10/03/2019,10,1,Central,119,30,M,Black,20.0,Disorderly Conduct,M,640(D)(3)PC,URINTATIN/DEFECATING ON TRAIN OR SYSTEM,800 N ALAMEDA ST,NaN,"(34.0563, -118.2374)",2019-10-03 10:00:00
2,191119468,11/13/2019,15,11,Northeast,1102,39,F,Other,NaN,NaN,M,459.2PC,NaN,2900 LOS FELIZ BL,NaN,"(34.1367, -118.2713)",2019-11-13 15:00:00
3,4265695,03/11/2015,13,21,Topanga,2118,34,F,Black,3.0,Robbery,F,211PC,ROBBERY,ROSCOE BL,WINNETKA AV,"(34.2202, -118.571)",2015-03-11 13:00:00
4,4280871,03/26/2015,12,21,Topanga,2172,17,M,Latin,3.0,Robbery,F,211PC,ROBBERY,5400 VALLEY CIRCLE DR,NaN,"(34.1684, -118.6426)",2015-03-26 12:00:00

In [3]:
df['Time'] = df['Time'].round()
df['Time'] = df['Time'].astype(str)
df['Time'] = df['Time'].str.replace(r'.0$', '')

In [4]:
if [df['Time'].str.len() >= 3]:
    df['Time'] = (df['Time'].str.replace(r'\d\d$', ''))

In [5]:
df['Time'] = (df['Time'].str.replace(r'^1$', '01'))
df['Time'] = (df['Time'].str.replace(r'^2$', '02'))
df['Time'] = (df['Time'].str.replace(r'^3$', '03'))
df['Time'] = (df['Time'].str.replace(r'^4$', '04'))
df['Time'] = (df['Time'].str.replace(r'^5$', '05'))
df['Time'] = (df['Time'].str.replace(r'^6$', '06'))
df['Time'] = (df['Time'].str.replace(r'^7$', '07'))
df['Time'] = (df['Time'].str.replace(r'^8$', '08'))
df['Time'] = (df['Time'].str.replace(r'^9$', '09'))
df['Time'] = (df['Time'].str.replace(r'^$', '00'))
df['Time'] = (df['Time'].str.replace(r'^nan$', '00'))
df['Time'] = (df['Time'].str.replace(r'^0$', '00'))
df['Time'] = (df['Time'].str.replace(r'^24$', '00'))

In [8]:
df['Date'] = df['Arrest Date'] + " " + df["Time"]
df['Date'] = pd.to_datetime(df['Date'], format= '%m/%d/%Y %H')

In [19]:
df['Descent Code'] = (df['Descent Code'].str.replace(r'^A$', 'Other Asian'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^B$', 'Black'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^C$', 'Chinese'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^D$', 'Cambodian'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^F$', 'Filipino'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^G$', 'Guamanian'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^H$', 'Latin'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^I$', 'American Indian/Alaskan Native'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^J$', 'Japanese'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^K$', 'Korean'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^L$', 'Laotian'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^O$', 'Other'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^P$', 'Pacific Islander'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^S$', 'Samoan'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^U$', 'Hawaiian'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^V$', 'Vietnamese'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^W$', 'White'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^X$', 'Unknown'))
df['Descent Code'] = (df['Descent Code'].str.replace(r'^Z$', 'Asian Indian'))

In [31]:
# df.set_index('Date', inplace=True)
df.sort_index(ascending=False, inplace=True)
df

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
Date,,,,,,,,,,,,,,,,,
2020-03-14 20:00:00,202007474,03/14/2020,20,20,Olympic,2044,28,M,Latin,NaN,NaN,M,11359HS,NaN,3300 W 8TH ST,NaN,"(34.0577, -118.2998)"
2020-03-14 15:00:00,201308131,03/14/2020,15,13,Newton,1343,30,M,Latin,16.0,Narcotic Drug Laws,M,11377HS,POSSESSION CONTROLLED SUBSTANCE,35TH,AVALON,"(34.0143, -118.2653)"
2020-03-14 14:00:00,5900885,03/14/2020,14,14,Pacific,1413,30,M,Other,16.0,Narcotic Drug Laws,M,11377(A)HS,POSSESSION CONTROLLED SUBSTANCE,3RD ST,SUNSET,"(33.9955, -118.4745)"
2020-03-14 13:00:00,5900900,03/14/2020,13,14,Pacific,1494,48,M,Black,6.0,Larceny,M,459.5PC,SHOPLIFTING,200 WORLD WY,NaN,"(33.9449, -118.4059)"
2020-03-14 12:00:00,5900877,03/14/2020,12,4,Hollenbeck,479,30,M,Latin,24.0,Miscellaneous Other Violations,O,3454(C)PC,FLASH INCARCERATION,3500 SABINA ST,NaN,"(34.0288, -118.1971)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-01-01 00:00:00,2179791,01/01/2010,00,13,Newton,1394,17,M,Latin,12.0,Weapon (carry/poss),F,12101(A)1PC,MINOR IN POSS CONCEALABLE FIREARM W/PRIOR,69TH ST,SAN PEDRO ST,"(33.977, -118.2695)"
2010-01-01 00:00:00,100604166,01/01/2010,00,6,Hollywood,645,37,M,Black,18.0,Drunkeness,M,41.27CLAMC,DRINKING IN PUBLIC,6800 HOLLYWOOD BL,NaN,"(34.1016, -118.3387)"
2010-01-01 00:00:00,2179651,01/01/2010,00,2,Rampart,261,40,M,Black,16.0,Narcotic Drug Laws,F,11350(A)HS,POSSESSION NARCOTIC CONTROLLED SUBSTANCE,JAMES M WOOD ST,HOOVER ST,"(34.0559, -118.2842)"
2010-01-01 00:00:00,2179648,01/01/2010,00,6,Hollywood,668,21,M,White,24.0,Miscellaneous Other Violations,M,853.7PC,FTA AFTER WRITTEN PROMISE,SANTA MONICA,RIDGEWOOD,"(34.0908, -118.3146)"
2010-01-01 00:00:00,2180001,01/01/2010,00,3,Southwest,378,22,M,Latin,16.0,Narcotic Drug Laws,F,11378HS,POSSESSION CONTROLLED SUBSTANCE FOR SALE,3900 S FIGUEROA ST,NaN,"(34.014, -118.2827)"

In [ ]:
# Evaluate columns and data again, then plot